server:
  port: 9999

eureka:
  client:
    register-with-eureka: false
    fetch-registry: false
  server:
    enable-self-preservation: false
spring:
  output:
    ansi:
      enabled: ALWAYS
  liquibase:
    change-log: classpath:/db/changelog/db.changelog-master.xml
    enabled: true

  datasource:
    url: jdbc:postgresql://localhost:5000/postgres
    username: root
    password: toor